<div class="wrapper-apps-page container-fill">
  <div class="tool-bar">
    <div class="tool-bar-title">
      <h5>Project {{ selectedTab }}</h5>
      <a>Home</a> - <a>Project</a>
    </div>
    <div class="tool-bar-button">
      <button class="btn btn btn-secondary">Filter</button>
      <button class="btn-create btn btn-primary">Create</button>
    </div>
  </div>

  <div>
    <card-apps (tabChanged)="onTabChanged($event)"/>
  </div>

  <router-outlet></router-outlet>
</div>
