.card-user {
  padding: 30px;
  width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;

}

.user-more {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}
