.user-info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .user-avatar {
    flex-shrink: 0;
    margin-bottom: 15px;
  }

  h6 {
    font-weight: 600;
  }

  span {
    font-size: 0.875rem;
    color: gray;
    margin-bottom: 15px;
  }
}
