.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 15px 20px;
  font-weight: 600;
  color: #4B5675;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 100;

  transition: box-shadow 0.3s ease;

  &.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .group-header-left {
    transition: transform 0.3s ease;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 26px;
    right: 0;
  }
}

.group-header-left {
  .header-left-nav {
    ul {
      display: flex;
      gap: 25px;
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      li {
        transition: .1s linear;

        &:hover {
          color: #1B84FF;
        }
      }
    }

    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: #fff;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 768px) {

  .wrapper-header {
    justify-content: end;
    gap: 15px;
  }

  .group-header-left {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 30px 20px;
    width: 200px;
    background: white;
    z-index: 999;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0%);
    }
  }

  .menu-icon {
    display: block !important;
  }

  .header-left-nav ul {
    display: flex;
    flex-direction: column;
    padding: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.group-header-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  height: 100%;

  .header-right-action {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    .header-right-icon {
      font-size: 22px;
      color: #99A1B7;
      transition: .1s linear;

      &:hover {
        color: #1B84FF;
      }
    }
  }
}
